*{
    transition: all 0.3s ease-in-out;
}

body{
    max-width: 1000px;
    margin: 0 auto;
    background: $background-light;
    &.dark-theme{
        background-color: $background-dark;
        .post-card{
            background-color: $primary-color;
            &:hover{
                box-shadow: 8px 8px 2px 1px darken($primary-color, 10%);
            }
            .secondary{
                background-color: darken($primary-color, 10%);
            }
        }
        .input-field{
            background-color: $secondary-color;
        }
        .textarea-field{
            background-color: $secondary-color;
        }
        .submit-button{
            background-color: darken($primary-color, 10%);
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}