
nav{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.burger-menu{
    display: none;
    border: none;
    position: fixed;
    top: 5px;
    right: 0;
    z-index: 2;
    .line{
        position: absolute;
        top: 0px;
        right: 0px;
        width: 30px;
        height: 3px;
        background-color: #fff;
        &:nth-child(3){
            top: 20px;
        }
        &:nth-child(2){
            top: 10px;
        }
    }
}

@media (max-width: 768px) {
    
    .burger-menu{
        display: block;
    }

    .button-close{
        .line{
            &:nth-child(1){
                top: 10px;
                transform: rotate(45deg);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                top: 10px;
                transform: rotate(135deg);
            }
        }
    }

    nav{
        position: fixed;
        flex-direction: column;
        gap: 10px;
        margin: 0px;
        margin-top: 0;
        top: 0;
        right: 0;
        background-color: $background-dark;
        padding: 30px;
        border-radius: 5px;
        align-items: center;
        z-index: 1;
    }
    .nav{
        transform: translateX(120%);
    }
    .open{
        transform: translate(0px);
    }
    
}

