
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Mulish", serif;
    font-size: 18px;
    line-height: 1.6;
}


h1 { font-size: 34px; font-weight: 600; }
h2 { font-size: 26px; font-weight: 500; }
p  { font-size: 18px; font-weight: 400; }