$primary-color: #E08E45;
$secondary-color: #F8F4A6;
$background-light: #BDF7B7;
$background-dark: #222;
$text-light: #333;
$text-dark: #fff;
$color-sun: #ffe600;
$color-for-sun: #7ab6fb;
$color-moon: #dcdcdc;
$color-for-moon: #3e3f45;


$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;
